.env.dev
.env

mrgServices/venv/
mrgServices/_venv/
mrgServices/files/
mrgServices/media/
mrgServices/reesters/
mrgServices/db.sqlite3
reestrs/
reesters/
files/
mrgServices/static/

mrgServices/main/settings.py
mrgServices/Dockerfile
docker-compose.yml